<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add a new form</title>
</head>
<body>
    <h1>form for new posts</h1>
    <form action="/posts" method="post">
        <input type="text" placeholder="username" name="username"> <br> <br>
        <textarea name="content" id="" placeholder="write your post"></textarea><br> <br>
        <button>Submit</button>
    </form>
</body>
</html>